<div class="movie-detail">
  <h2 class="movie-detail__title">{{name}}</h2>
  <p class="movie-detail__year">Année : {{year}}</p>
  <p class="movie-detail__length">Durée : {{length}} minutes</p>
  <p class="movie-detail__description">{{description}}</p>
  <p class="movie-detail__director">Réalisateur : {{director}}</p>
  <img class="movie-detail__image" src="../server/images/{{image}}" alt="{{name}}">
  <div class="movie-detail__trailer">
    <iframe src="{{trailer}}" frameborder="0" allowfullscreen></iframe>
  </div>
  <p class="movie-detail__min-age">Âge minimum : {{min_age}}</p>
  <p class="movie-detail__category">Catégorie : {{id_category}}</p>
</div>