
<div class="movie-detail">
  <h2 class="movie-detail__title">{{name}}</h2>
  <img class="movie-detail__image" src="../server/images/{{image}}" alt="{{name}}">
  <p class="movie-detail__description">Description : {{description}}</p>
  <p class="movie-detail__year">Sortie en {{year}}</p>
  <p class="movie-detail__director">Réalisé par {{director}}</p>
  <p class="movie-detail__length">Durée : {{length}} minutes</p>
  <p class="movie-detail__min-age">Âge minimum : {{min_age}} ans</p>
  <p class="movie-detail__category">Catégorie : {{name}}</p>
  <iframe class="movie-detail__trailer" src="{{trailer}}" frameborder="0" allowfullscreen></iframe>
</div> 