<section class="update-profile">
  <h2 class="update-profile__title">Modifier un profil utilisateur</h2>
  <form id="form-update-profile" class="update-profile__form" onsubmit="{{handler}}">
    
    <label for="id">ID du profil :</label>
    <input type="number" name="id" id="id" class="update-profile__input" required>

    <label for="nom_utilisateur">Nom du profil :</label>
    <input type="text" name="nom_utilisateur" id="nom_utilisateur" class="update-profile__input" required>

    <label for="photo_profil">Photo de profil :</label>
    <input type="text" name="photo_profil" id="photo_profil" class="update-profile__input">

    <label for="date_naissance">Date de naissance :</label>
    <input type="date" name="date_naissance" id="date_naissance" class="update-profile__input" required>

    <button type="submit" class="update-profile__button">Mettre à jour</button>
  </form>
</section>