<nav class="navbar font-sans">
  <ul class="navbar__list">
    <div class="navbar__links">
      <li class="navbar__item" onclick="{{hAbout}}">About</li>
      <li class="navbar__item" onclick="{{hHome}}">Home</li>
      <li class="navbar__item" onclick="{{hFavorites}}">Favoris</li>
    </div>
    <div class="navbar__profile">
      <li class="navbar__item">
        <select id="profile-select" onchange="C.handlerProfile()">
          <option>Choisir un compte</option>
          {{profileOptions}}
        </select>
      </li>
    </div>
  </ul>
</nav>
