<div class="addUser">
    <h4 class="addUser__title">Ajouter un utilisateur</h4>
    <form class="addUser__form">
      <input required type="text" name="nom_utilisateur" placeholder="Saisir un nom" />
      <input
        required
        type="text"
        name="photo_profil"
        placeholder="Nom du fichier de la photo de profil"
      />
      <input
        required
        type="date"
        name="date_naissance"
        placeholder="Saisir une année"
      />
      <button type="button" onclick="{{handler}}">Ajouter</button>
    </form>
  </div>