.categorie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }
  
  /* .categorie-container {
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 2rem;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .categorie-container:hover,
  .categorie-container.active {
    background-color: red;
    color: white;
    border-color: orangered ;
  } */